@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: #FFFAF7;
}
body{
    font-family: sans-serif;
    font-style: normal;
    text-decoration: none;

    
}
nav{
    background-color: #FCEBDF;
    height: 80PX;
    width: 100%;
    overflow: hidden;
}
img{
    width: 150px;
    margin-top: 4px;
    margin-left: 10PX;
    background-color: #FCEBDF;
 }
 .heads{
    align-items: center;
    margin-left: 500px;
    word-spacing: 10px;
    margin-top: -50px;
    font-size: 20px;
    background-color: #FCEBDF;
 }
 .heads a{
    color: #1B5E20;
    background-color: #FCEBDF;
 }
 .icons{
    align-items: right;
    margin-left: 1300px;
    word-spacing: 10px;
    margin-top: -35px;
    font-size: 26px;
    background-color: #FCEBDF;
 }
 .icons a{
    color: #1B5E20;
    background-color: #FCEBDF;
    
 }
 #cat{
    font-weight: bold;
    
 }
 .bar1{
    background-color: #FCEBDF;
 }
 #a{
    background-color: #FCEBDF;
 }
 #b{
    background-color: #FCEBDF;
 }
 #c{
    background-color: #FCEBDF;
 }
 #d{
    background-color: #FCEBDF;
 }
 .title-box{
    background-color: #C8E6C9;
    width: 550px;
    height: 100px;
    border-radius: 35px;
    margin-left: -20px;
    
 }
 .title{
    padding: 50px;
    margin-left:-60px;
     

 }
 .title-img{
    width: 170px;
    height: 170px;
    background-image: none;
    background-color: transparent;
    margin-top: -28px;
    margin-left: 35px;
 }
 .details{
    color: #1B5E20;
    font-size: 30px;
    text-align: center;
    background-color: transparent;

 }
 .cat-title{
    margin-top: -120px;
    background-color: #C8E6C9;
    margin-left: 120px;
 }
.box{
    overflow: hidden;
    background-color: transparent;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-left: 150px;

    
      
}
.imgs{
   height: 180px;
    overflow: hidden;
    background-color: transparent;
     width: 25%;
     align-items: center;
     padding: 20px 30px ;
     box-sizing: border-box;
     padding-right: 20px;
     margin: 23px;
     

    
    
}
.imgs img{
    width: 100%;
    height: 180px;
   object-fit:fill;
    box-sizing: border-box;
    background-color: transparent;
    align-items: center;
    
    
    
}
.style a{
    color: white;
    background-color: #81C784;
    font-weight: bold;
    margin-left: 8px;
    margin-top: -2px;
    
    
}
.style{
    background-color: #81C784;
    margin-top: 215px;
    margin-left: -330px;
    width: 300px; 
    height: 30px;
   text-align: left;
   border-radius: 10px;
    
}
#img1:hover{
    cursor: pointer;
}
.style:hover{
    cursor: pointer;
}









/*cart*/
.cart{
    position: absolute;
    top: -150;
    opacity: 0;
    width: 380px;
    height: 100vh;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #FCEBDF;
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid var(--main-color);
    margin-top: -520px;
            
}
.bg{
    background-color: #FFFAF7; 
    border-radius: 15px;
    width: 100%;
    height: 15vh;
    position:relative;
    top: 1%;
    left: 1%;
    transform: translate(-1%, -1%);
}

.cart.active{
    right: 0;
    transition: .5s;
    opacity: 1;
    transition:top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.cart-title{
    text-align:left;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #43A047;
    background-color: #FCEBDF;
}
.word{
    color: #1B5E20;
    background-color: transparent;
}
.cart-box{
    display: grid;
    grid-template-columns: 25% 50% 18%;
    
    align-items: left;
    gap: 0.5rem;
    margin-top: 1rem;
    
    
}
.cart-img{
    width: 100px;
    height:100px;
    object-fit: contain;
    overflow: hidden;
    background-color: transparent;
    
    
}
.detail-box{
    display: grid;
    row-gap: .5rem;border-radius: 10px;
    
}
.cart-product-title{
    font-size: 1.2rem;
   color: #1B5E20;
   font-weight: 600;
   text-align: center;
   margin-top: 10PX;
   
}
.cart-price{
    
    text-align: right;
    font-size: 22px;
    margin-right: -50PX;
    color: #1B5E20;
}
.cart-quantity{
    border: 5px solid var(--text-color);
    outline-color: var(--main-color);
    width: 6rem;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    background-color: #C8E6C9;
    color: #1B5E20;
   display: block;
  margin-right: auto;
  margin-left: auto;
  margin-top: -15px;
  

}
.cart-remove{
    font-size: 24px;
    color: var(--main-color);
    cursor: pointer;
}
.total{
    margin-top: 1.5rem;
    border-top: 1px solid var(--text-color);
    text-align: left;
    border-top: 1px solid var(#0000);
    
}
.total-title{
    font-size: 1rem;
    font-weight: 600;
    color: #43A047;
    background-color: #FCEBDF;
}
.total-price{
    margin-left: .5rem;
    text-align: right;
    margin-top: -24px;
    background-color: #FCEBDF;
}
.btn-buy{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 10px 15px;
    border: none;
    background-color: #43A047;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;

}
.btn-buy:hover{
    background-color: #1B5E20;
}
#cart-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(#1B5E20);
    cursor: pointer;
    background-color: #FCEBDF;
}
.cart-close{
    color: #1B5E20;
    
}




/*wishlist*/
.wishlist{
    position: absolute;
    top:-150;
    opacity: 0;
    width: 380px;
    height: 100vh;
    border-radius: 15px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;
    background-color: #FCEBDF;
    box-shadow: -2px solid 4px hsl(0 4% 15% / 10%);
    border: 1px solid var(--main-color);
    margin-top: -520px;
}
.bg1{
    background-color: #FFFAF7;
    border-radius: 15px;
    width: 100%;
    height: 15vh;
    position:relative;
    top: 1%;
    left: 1%;
    transform: translate(-1%, -1%);
}

.wishlist.active{
    right: 0;
    transition: .5s;
    opacity: 1;
    transition:top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}
.wish-title{
    text-align:left;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 2rem;
    color: #43A047;
    background-color: #FCEBDF;
}
.wish-box{
    display: grid;
    grid-template-columns: 25% 50% 18%;
    align-items: left;
    gap: 0.5rem;
    margin-top: 1rem;
    background-color: transparent;
    
}
.wish-img{
    width: 100px;
    height:100px;
    object-fit: contain;
    overflow: hidden;
    background-color: transparent;
    
    
}
.wish-detail{
    display:block;
    row-gap: .5rem;
    border-radius: 10px;
}
.wish-product-title{
    font-size: 1.2rem;
   color: #1B5E20;
   font-weight: 600;
   text-align: center;
   margin-top: 10PX;
   background-color: transparent;
   
}
.wish-price{
    text-align: center;
    font-size: 18px;
    margin-left: -60PX;
    margin-top: 5PX;
    color: #1B5E20;
    background-color: transparent;
}

#wish-close{
    position: absolute;
    top: 1rem;
    right: .8rem;
    font-size: 2rem;
    color: var(#1B5E20);
    cursor: pointer;
    background-color: #FCEBDF;
}
.wish-close{
    color: #1B5E20;
}
.ico{
    margin-left: 200px;
    margin-top: -47px;
}
#heart{
    text-align: right;
    font-size: 24px;
    color: #1B5E20;
}
#heart:hover{
    cursor: pointer;
    
}