.navbar {
    background: var(--unnamed-color-fcebdf) 0% 0% no-repeat padding-box;
    background: white 0% 0% no-repeat padding-box;
    opacity: 1;
  
   
}

.navbar-brand{
    top: 20px;
    left: 40px;
    width: 228px;
    height: 110px;
    opacity: 1;
}

img{
   width: 150px;
   margin-top: 15px;
}

.leaf {
    
        width:100px;
        height: 100px;
        border-radius:50% 100% 100%;
        background-color: #1B5E20;	
        overflow: none;
       
}

       .profile{
       
       
        height: 70%;
        width: 70%;
        border-radius: 50%;
       }

       input{
        
            background-color:white ;
            margin-top: 20px;
            width: 50%;
            height: 50px;
            border-color: #4CAF50;
            margin-right: 200px;
            
          }

          ::placeholder{
            color: #1B5E20 ;
            font-weight: bold;
            padding-left: 20px;
          }
    
          input[type=submit] {
            background-color:  #4CAF50;
            color: white;
            margin-top: 100px;
           
          }
    
       