/* Google Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


/*single page*/
*{
    background-color: #FFFAF7;
    font-family:  sans-serif;
    font-style: normal;
}
.navbar {
    background: var(--unnamed-color-fcebdf) 0% 0% no-repeat padding-box;
    background: white 0% 0% no-repeat padding-box;
    opacity: 1;
  
   
}

.navbar-brand{
    top: 20px;
    left: 40px;
    width: 228px;
    height: 110px;
    opacity: 1;
}
img{
    width: 150px;
    margin-top: 15px;
 }
 #img1{
    background-color: #C8E6C9;
    width: 350PX;
    height: 350PX;
    border-radius: 50px;
    object-fit: contain;
    overflow: hidden;
    margin-left: 150px;
    margin-top: 50px;
 }
 #heart{
    margin-left: -60px;
    text-align: center;
    margin-top: 72px;
    font-size: 45px;
    color: white;
    background-color: #81C784;
    border-radius:10PX 20px 10px 20px ;
    height: 55PX;
    width: 60PX;
    padding-top: 10px;
    padding-right: 5px;
}
#heart:hover{
    cursor: pointer;
    color:#1B5E20;
    
    
}
.texts{
    text-align: center;
}
.plant-title{
    color: #1B5E20;
   font-size: 40px;
   font-weight: bold;
   margin-top: -450px;
   margin-right: 63px;
}
.plant-price{
    text-align: right;
    color: #1B5E20;
   font-size: 40px;
   font-weight: 100px;
   margin-top: -60px;
   margin-right: 100px;
}
.url{
    color: #81C784;
    font-size: 20px;
    font-weight: 25px;
    margin-right: -85PX;
    margin-top: 10PX;
}
.url:hover{
    cursor: pointer;
}
.ratings{
    color: #1B5E20;
   size: 100px;
   width: 400px;
   font-size: 23px;
   margin-left: 470PX;
   margin-top: 20px;
}
.rev{
    font-size: 18px;
    margin-right:-280PX;
    margin-top: -25px;
    text-decoration: underline;
}
.rev:hover{
    cursor: pointer;
}
.desc{
    width: 600px;
    color: #1B5E20;
    font-size: 18px;
    text-align: left;
    margin-left: 600PX;
    margin-top: 35px;
}
.quantity{
    border: 5px solid var(--text-color);
    outline-color: var(--main-color);
    width: 6rem;
    border-radius: 15px;
    text-align: center;
    font-size: 1rem;
    background-color: #C8E6C9;
    color: #1B5E20;
   /* margin-bottom: -50px;*/
    
}
.quan{
    color: #1B5E20;
    font-size: 18px;
    font-weight: bold;
    margin-left: -130PX;
    margin-top: 20px;
    display: block;
}
#btn1{
    display: flex;
    margin: 1.5rem auto 0 auto;
    padding: 7px 12px;
    border: none;
    background-color: #43A047;
    color: white;
    font-size: 1rem;
    font-weight: 500;
    cursor: pointer;
    border-radius: 15px;
    width: 150px;
   margin-right: 450px;
   text-align: center;
   margin-top: -30px;

}
#icon{
    color: #FFFAF7;
    background-color:#43A047 ;
    font-size: 18px;
}
.line{
    width: 630px;
    margin-left: 590px;
    border-bottom: 2px solid #1B5E20;
    margin-bottom: 3px;

}
.accor{
    width:630px ;
    margin-left: 590px;
    text-align: left;
    cursor: pointer;
    max-width: 700px;
    margin-bottom: 1rem;
    border-bottom: 2px solid #1B5E20;

}
.txt{
    font-size: 20px;
    color: #1B5E20;
    justify-content: space-between;
    display: flex;
}
#title1{
    font-size: 20px;
    color: #43A047;
    margin-top: 5PX;
}
#sentence{
    font-size: 16px;
    color: #1B5E20;
}
#drop{
    color: #43A047;
    font-size: 20px;
}
.users{
    background-color:#FFFAF7;
    width: 630px;
    max-height: 0;
     overflow:hidden; 
    transition: max-height 1.4s ease;
}
.user-box{
    
    width: 690px;
    background-color: white;
    align-items: left;
    gap: 0.5rem;
    margin-top: -3rem;
    border-radius: 50px 30px 50px 30px;
    height: 170px;
    
    
}
.user-img{
    width: 100px;
    height:100px;
    object-fit: contain;
    overflow: hidden;
    border-radius: 50px 50px;
    background-color: #C8E6C9;
    margin-left: 70px;
    margin-top: 60px;
    
    
}
.username{
    font-size: 18px;
    font-weight: 500;
    color: #1B5E20;
    margin-top: -100px;
    margin-left: 170px;
    background-color: white;
    width: 100%;
    
}
.rev1{
    font-size: 16px;
    color: #1B5E20;
    margin-top: -70px;
    background-color: white;
    width: 100%;
    margin-left: 190px;
    text-decoration: none;
}

.accor.active .users {
    max-height: 900px;
    
}

.accor.active .svg{
    transform: rotate(180 deg);
}
.detail-box1{
    display: grid;
    row-gap: .5rem;
    
}
